body {
  font-family: 'Ubuntu', sans-serif;
  background: url(https://jujucharms.com/juju-ui/assets/images/non-sprites/pattern_tile.png) repeat;
}

a {
  color: #dd4814;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.orange.active.item, .ui.orange.menu .active.item {
  border-color: #dd4814!important;
  color: #dd4814!important;
}

.state {
  cursor: pointer;
}

.ui.grid > .column.center {
  text-align: center;
}

.ui.grid > .column.right {
  text-align: right;
}

.positive {
  color: #33CC00;
}

.negative {
  color: #ff0000;
}

h1 .ui.avatar.image {
  margin-top: -.2em;
  width: 1em;
  height: 1em;
  margin-right: .1em;
}

h1 .icon {
  float: right;
  cursor: pointer;
}

.filter.controls {
  display: none;
}

.ui.form .select2-container {
  width: 100%;
  font-size: 0.9rem;
}

.ui.form .select2-chosen {
  padding-top: 0.85em;
  padding-bottom: 0.85em;
  line-height: normal;
}

.ui.form .select2-choice {
  height: 2em;
}

.ui.form .select2-arrow {
  padding-top: 0.1em;
}

.select2-drop .select2-result-label {
  font-size: 0.85em;
}

.ui.left.icon.input .select2-choice {
  padding-left: 3em!important;
  padding-right: 1.2em!important;
}
