body {
  font-family: 'Ubuntu', sans-serif;
  background: url(https://jujucharms.com/juju-ui/assets/images/non-sprites/pattern_tile.png) repeat;
}

a {
  color: #dd4814;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.orange.active.item, .ui.orange.menu .active.item {
  border-color: #dd4814!important;
  color: #dd4814!important;
}

.state {
  cursor: pointer;
}

.ui.grid > .column.center {
  text-align: center;
}

.ui.grid > .column.right {
  text-align: right;
}

.positive {
  color: #33CC00;
}

.negative {
  color: #ff0000;
}

h1 .ui.avatar.image {
  margin-top: -.2em;
  width: 1em;
  height: 1em;
  margin-right: .1em;
}

h1 .icon {
  float: right;
  cursor: pointer;
}

.filter.controls {
  display: none;
}

.ui.form .select2-container {
  width: 100%;
  font-size: 0.9rem;
}

.ui.form .select2-chosen {
  padding-top: 0.85em;
  padding-bottom: 0.85em;
  line-height: normal;
}

.ui.form .select2-choice {
  height: 2em;
}

.ui.form .select2-arrow {
  padding-top: 0.1em;
}

.select2-drop .select2-result-label {
  font-size: 0.85em;
}

.ui.left.icon.input .select2-choice {
  padding-left: 3em!important;
  padding-right: 1.2em!important;
}

.ui.inverted.popup .header {
  background-color: transparent;
}

.datetimepicker {
  font-size: 0.875em;
  display: none;
  position: absolute;
  padding: 4px;
  margin-top: 1px;
  top: 0;
  left: 0;
  border-radius: 0.3125em;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

.datetimepicker:after, .datetimepicker:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.02);
  width: 100%;
  height: 5px;
  visibility: visible;
}

.datetimepicker:before {
  bottom: 0px;
}

.datetimepicker > div {
  display: none;
}

.datetimepicker.days div.datetimepicker-days {
  display: block;
}

.datetimepicker.months div.datetimepicker-months {
  display: block;
}

.datetimepicker.years div.datetimepicker-years {
  display: block;
}

.datetimepicker table {
  margin: 0;
}

.datetimepicker td, .datetimepicker th {
  text-align: center;
  width: 2em;
  height: 2em;
  border-radius: 2px;
  border: none;
}

.table-striped .datetimepicker table tr td, .table-striped .datetimepicker table tr th {
  background-color: transparent;
}

.datetimepicker table tr td.day:hover {
  background: @customLightGray;
  cursor: pointer;
}

.datetimepicker table tr td.old, .datetimepicker table tr td.new {
  color: @customGray;
}

.datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover {
  background: none;
  color: @customLightGray;
  cursor: default;
}

.datetimepicker table tr td.today, .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today.disabled:hover {
  color: #333;
  background: @customGray;
  cursor: pointer;
}

.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
  color: #fff;
  background: @green;
}

.datetimepicker table tr td span {
  display: block;
  width: 23%;
  height: 35px;
  line-height: 35px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}

.datetimepicker table tr td span:hover {
  background: @customLightGray;
}

.datetimepicker table tr td span.disabled, .datetimepicker table tr td span.disabled:hover {
  color: @customGray;
  background: none;
  cursor: default;
}

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
  color: #FFF;
  background: @green;
}

.datetimepicker table tr td span.old {
  color: @customGray;
}

.datetimepicker th.switch {
  width: 145px;
}

.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th {
  cursor: pointer;
}

.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover {
  background: @customLightGray;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.datetimepicker-minutes thead, .datetimepicker-hours thead {
  display: none;
}

.datetimepicker-minutes td, .datetimepicker-hours td {
  width: 220px;
}

.ui.form .five.fields > .field.two {
  width: 33.33%;
}

.ui.button.bottom {
  margin-top: 1.2em;
}

.ui.message.hide {
  display: none;
}
