body {
  font-family: 'Ubuntu', sans-serif;
}

.positive {
  color: #33CC00;
}

.negative {
  color: #ff0000;
}

h1 .ui.avatar.image {
  margin-top: -.2em;
  width: 1em;
  height: 1em;
  margin-right: .1em;
}
